{% extends 'base.html' %}

{% block content %}

<div class="glass-card" style="max-width:400px; margin:auto;">
    <h2>Login</h2>

    <form method="POST">
        {% csrf_token %}

        <input type="text" name="username" placeholder="Username" class="neu-input" required>
        <br><br>

        <input type="password" name="password" placeholder="Password" class="neu-input" required>
        <br><br>

        <button type="submit" class="neu-btn">Login</button>
    </form>

    {% for message in messages %}
    <p style="color:red;">{{ message }}</p>
    {% endfor %}
</div>

{% endblock %}